<h1>Countries</h1>

<table>
  <tr>
    <th>Country</th>
    <th>Activities</th>
  </tr>

<% @countries.each do |country| %>
<% if country.recipient_country.to_s != '' %>
  <tr>
    <td><%= link_to country.recipient_country, :controller=>:activities, :recipient_country_code=>country.recipient_country_code %></td>
  </tr>
<% end %>
<% end %>
</table>
