<h1>Organisations</h1>

<table>
  <tr>
    <th>Implementing Organisations</th>
    <th>Activities</th>
  </tr>

<% @implementing_organisations.each do |organisation| %>
<% if organisation.implementing_org.to_s != '' %>
  <tr>
    <td><%= link_to organisation.implementing_org, :controller=>:activities, :implementing_org=>organisation.implementing_org %></td>
  </tr>
<% end %>
<% end %>
</table>
